# deps
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/versions

# next
/.next/
/out/

# env -- NEVER commit
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
/coverage
/.vercel
*.tsbuildinfo
next-env.d.ts
.env*.local
